doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Caffeine Chronicles Cart
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    script(src='Script.js')
    header
      .container
        #branding
          h1
            span.highlight Caffeine
            | Chronicles
          nav
            ul
              li
                a(href='/') Home
              li
                a(href='catalog') Catalog
              li
                a(href='about') About
              li
                a(href='contact') Contact
              li.current
                a(href='cart') Cart
              li
                a(href='newaccount') Create Account
              li
                a(href='login') Log In

    section#showcase
    .container
       section#main-col
        p.page-title Your Cart
         each book in books
           .cart-item
             p #{book.BookTitle}
             p Description: #{book.Desc}
             button.button_1(onclick=`removeItemFromCart("${book.BookTitle}", ${book.Price})`) Remove
         .cart-total
          p Total:

         a.button_1(href='paymentform') Proceed to Payment

       aside#sidebar
         .dark
           h3 Order Summary
           each book in books
             p #{book.BookTitle} $#{book.Price}

  footer
     p Caffeine Chronicles &copy; 2024

