doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Caffeine Chronicles Cart
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    script(src='Script.js')
    header
      .container
        #branding
          h1
            span.highlight Caffeine
            | Chronicles
          nav
            ul
              li
                a(href='/') Home
              li
                a(href='catalog') Catalog
              li
                a(href='about') About
              li
                a(href='contact') Contact
              li.current
                a(href='cart') Cart
              li
                a(href='newaccount') Create Account
              li
                a(href='login') Login

    section#showcase
      .container
        h1 Welcome to the World of Books and Coffee

      .container
        section#main-col
          h2.page-title Your Cart
          each book in books
            .cart-item
              h3 #{book.BookTitle}
              p Description: #{book.Desc}
              button.button_1(onclick='removeItemFromCart("#{book.BookTitle}", #{book.Price})') Remove
          .cart-total
            h3 Total: $#{calculateCartTotal(books)}

          button.button_1(onclick='redirectToPaymentForm()') Proceed to Payment

        aside#sidebar
          .dark
            h3 Order Summary

    footer
      p Caffeine Chronicles &copy; 2024

    script.
      function removeItemFromCart(bookTitle, bookPrice) {
          // Here you should add logic to remove the item from the cart
          // and update the cart view accordingly
          console.log(`${bookTitle} removed from the cart`);
      }

    script.
      function calculateCartTotal(books) {
          // Calculate the total price of books in the cart
          let total = 0;
          books.forEach((book) => {
              total += parseFloat(book.Price);
          });
          return total.toFixed(2); // Format the total with 2 decimal places
      }

    script.
      function redirectToPaymentForm() {
          // Here you can add logic to redirect users to the payment form
          // or implement your payment process
          console.log('Redirecting to payment form');
      }
